

/* Estilo login */
body.fondo{

background-image: url(../img/fondologin.png);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

#cintillo{
  background-image: url('../img/cinta.png');
  background-repeat: no-repeat;
  background-size: 100%;
  margin:0px;
  padding: 0px;
  margin-top: 0px;
  margin-left: 0px;
  width:100%;
  height: 20%;

}

.login{
    margin: 0 auto;
    background-color: white;
    width: 30%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-top: 2%;
    padding-left: 2px;
  }
  .loginheading{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 35px;
    padding-bottom: 0px;
    color: #9a9a9a;
  }


#usuario, #clave{
    margin: 0 auto;
    width: auto;
    border-radius: 0;
  }

#enviar {
    margin-top: 10%;
    margin-left: 60%;
    margin-right: 5%;
    border-radius: 0;

}



/* MENU VERTICAL*/
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #006cb7;
  position: fixed;
  top: 0px;
  width: 17%;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #021c2e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;


}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #006cb7;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #033a60;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #006cb7;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #021c2e;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {

  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #277cb8;
  border-bottom: 1px solid #034c7e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #a6383b;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

.cuerpo{
  margin-left: 12%;
  font-family: verdana;
  font-size: 10px;
  font-weight: 200;
}
.cuerpo-2{
  margin-left: 18%;
}

.cuerpo_tablas{
  margin-left: 8%;
  font-size: 12px;
}
th.tablas{
  font-size: 14px;

}

label{
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
}

#guardar {
    margin-top: 5%;
    margin-left: 80%;
    margin-right: 5%;
    border-radius: 0;

}

.guardar_full {
    margin-top: 2%;
    margin-left: 60%;
    margin-right: 5%;
    border-radius: 0;

}
#crear {
    margin-top: 2%;
    margin-left: 90%;
    margin-right: 5%;
    border-radius: 0;

}

.btn-outline-danger.selected, .btn-outline-primary.selected {
  border: 2px solid;
  background-color: none;
}
.btn{
  border-radius: 0px;
}

.titulo{
  margin-left: 40%;
}

.table-bordered{
  border: 0;
}

.td-ancho{
  width: 30% !important;
}

.td-ancho-p{
  width: 12% !important;
}

a.menu, a.menu:hover, a.menu:visited, a.menu:link {
  color:white;
  text-decoration:none
}

.chosen-container {
  min-width: 40%;
}
a.negro, a.negro:hover, a.negro:visited, a.negro:link{
  color: #1e1e1e !important;
  text-decoration:none;
}

.oculto {
  visibility: hidden !important;
}

.td_centrado {
    text-align: center;
    vertical-align: middle;
}
